{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- contact items -->" | safeHTML }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ "<!-- Addresses -->" | safeHTML }}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-map-marker-alt text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "address" }}</h4>
          <p>{{ site.Params.address | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-phone text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "phone" }}</h4>
          <p>{{ site.Params.mobile | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fas fa-envelope text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "email" }}</h4>
          <p>{{ site.Params.email | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact item -->" | safeHTML }}

{{ "<!-- contact form and map -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">

      
      {{ with site.Params.gmap }}
      {{ if .enable }}
      <div class="col-md-5 mb-5 mb-md-0">
        <div id="map" class="gmap" data-latitude="{{.map_latitude}}" data-longitude="{{.map_longitude}}" data-marker="{{.map_marker | absURL}}" data-marker-name="{{.map_marker_name}}"></div>
      </div>
      {{ end }}
      {{ end }}


      <div class="col-md-7">
        <h3 class="section-title">{{ i18n "contact_form" }}</h3>
        <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-md-6">
            <input type="text" name="name" id="name" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="{{ i18n "name" }} *" required>
          </div>
          <div class="col-md-6">
            <input type="text" name="surname" id="surname" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="{{ i18n "surname" }}">
          </div>
          <div class="col-md-6">
            <input type="email" name="mail" id="mail" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="{{ i18n "email_placeholder" }}">
          </div>
          <div class="col-md-6">
            <input type="tel" name="phone" id="phone" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="{{ i18n "phone_placeholder" }} *" required>
          </div>
          <div class="col-12">
            <input type="text" name="property_address" id="property_address" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="{{ i18n "property_address" }} *" required>
          </div>
          <div class="col-md-6">
            <input type="number" name="beds_number" id="beds_number" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="{{ i18n "beds_number" }}">
          </div>
          <div class="col-md-6">
            <input type="number" name="square_meters" id="square_meters" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="{{ i18n "square_meters" }}">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control border-0 rounded-0 box-shadow mb-5 py-3 px-4" placeholder="{{ i18n "message" }}"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" value="send" class="btn btn-primary hover-ripple">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact form and map -->" | safeHTML }}

{{ if site.Params.gmap.enable }}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{{ end }}

{{ end }}
