{{ define "main" }}
{{/* Landing "Proprietari": conversione statica del documento Claude Design
     "Green Property - Landing.html". Sezioni in partials/landing/, recensioni in
     data/recensioni_proprietari.json, logica in assets/js/landing-recensioni.js. */}}
{{ partial "landing/styles.html" . }}
<div class="gp-landing">
  {{ partial "landing/hero.html" . }}
  {{ partial "landing/servizi.html" . }}
  {{ partial "landing/modulo-valutazione.html" . }}
  {{ partial "landing/recensioni.html" . }}
  {{ partial "landing/premi.html" . }}
  {{ partial "landing/lettera.html" . }}
  {{ partial "landing/team.html" . }}
  {{ partial "landing/case-study.html" . }}
  {{ partial "landing/contatti.html" . }}
</div>
{{ partial "faq.html" . }}
{{ $js := resources.Get "js/landing-recensioni.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1428839412678174');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1428839412678174&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
{{ end }}
